<template>
    <form v-on:submit.prevent="submitForm" >
        <div class="container">
            <h1>Guest Info</h1>
            <p>Guest Id Number: {{studentID}}</p>
            <p>Is the student a resident?</p>
                <select v-model="resident">
                    <option disabled value="">Please select one</option>
                    <option :value='true'>Yes</option>
                    <option :value='false'>No</option>
                </select>
            <p>Student Zip Code (If resident put 01602):</p>
                <input class="zipcode" type="text" id="Zip Code" required minlength="5" maxlength="5" v-model="zipCode">
        </div>
        <div class="container">
            <h2>Income Sources</h2>
            <p>Does the student receive unemployment benefits?</p>
                <select v-model="unemployment">
                    <option disabled value="">Please select one</option>
                    <option :value='true'>Yes</option>
                    <option :value='false'>No</option>
                </select>
            <p>Does the student receive any of the following? (check as many as apply):</p>
                <input type="checkbox" id="social_security" v-bind:value="true" v-model="assistance.socSec">
                <label for="social_security">Social Security</label>
                <p></p>
                <input type="checkbox" id="tanf_eadc" v-bind:value="true" v-model="assistance.TANF">
                <label for="tanf_eadc">TANF/EADC</label>
                <p></p>
                <input type="checkbox" id="finacialAid" v-bind:value="true" v-model="assistance.finAid">
                <label for="finacialAid">Financial Aid</label>
                <p></p>
                <input type="checkbox" id="other" v-bind:value="true" v-model="assistance.other">
                <label for="other">Other</label>
        </div>
        <div class="container">
            <h2>Assistance</h2>
            <p>Does the student receive any of the following? (Check as many as apply):</p>
                <input type="checkbox" id="SNAP" v-bind:value="true"  v-model="assistance.SNAP">
                <label for="SNAP">SNAP/Food Stamps</label>
                <p></p>
                <input type="checkbox" id="assistance" v-bind:value="true" v-model="assistance.WIC">
                <label for="WIC">WIC</label>
                <p></p>
                <input type="checkbox" id="breakfast" v-bind:value="true"  v-model="assistance.breakfast">
                <label for="breakfast">School Breakfast</label>
                <p></p>
                <input type="checkbox" id="lunch" v-bind:value="true" v-model="assistance.lunch">
                <label for="lunch">School Lunch</label>
                <p></p>
                <input type="checkbox" id="SFSP" v-bind:value="true" v-model="assistance.SFSP">
                <label for="SFSP">SFSP</label>
        </div>
        <div class="container"> 
            <h2>Household</h2>
            <p>Student Age: </p>
            <input type="Number" v-model="studentAge" required min="1" max="125" />
            <p>Number of people in household: </p>
            <input type="Number" v-model="numberInHousehold" required min="1" max="100" />
            <br>
        </div>
        <div v-show="addGuestStatus === 'errored'">Could not add Guest</div>
        <div v-show="addGuestStatus === 'sending'">Adding Guest. Please wait.</div>
        <div v-show="addGuestStatus === 'sent'">Form has been submitted </div>
        <button class="submit" @click="submitForm">Submit Form</button>
    </form>
</template>
    
<script>

    import axios from 'axios';

    export default {
        name: 'RegisterForm',
        data(){
            return {
                studentID: this.receivedFormData.studentID,
                resident: this.receivedFormData.resident,
                zipCode: this.receivedFormData.zipCode,
                unemployment: this.receivedFormData.unemployment,
                assistance: {
                    socSec: this.receivedFormData.assistance.socSec,
                    TANF: this.receivedFormData.assistance.TANF,
                    finAid: this.receivedFormData.assistance.finAid,
                    other: this.receivedFormData.assistance.other,
                    SNAP: this.receivedFormData.assistance.SNAP,
                    WIC: this.receivedFormData.assistance.WIC,
                    breakfast: this.receivedFormData.assistance.breakfast,
                    lunch: this.receivedFormData.assistance.lunch,
                    SFSP: this.receivedFormData.assistance.SFSP,
                },
                numberInHousehold: this.receivedFormData.numberInHousehold,
                studentAge: this.receivedFormData.studentAge,
                addGuestStatus: 'idle',
            }
        },
        props: {
            receivedFormData: Object, //Guest Data and new guests ID #
        },
        methods: {
            // Send Guest Information to Backend 
            async submitForm(){
                this.addGuestStatus = 'sending';
                axios.put("http://localhost:10350/guest/" + this.studentID, {
                    studentID: this.studentID,
                    resident: this.resident,
                    zipCode: this.zipCode,
                    unemployment: this.unemployment,
                    assistance: {
                        socSec: this.assistance.socSec,
                        TANF: this.assistance.TANF,
                        finAid: this.assistance.finAid,
                        WIC: this.assistance.WIC,
                        other: this.assistance.other,
                        SNAP: this.assistance.SNAP,
                        breakfast: this.assistance.breakfast,
                        lunch: this.assistance.lunch,
                        SFSP: this.assistance.SFSP,
                    },
                    studentAge: parseInt(this.studentAge),
                    numberInHousehold: parseInt(this.numberInHousehold),
                })
                .then(() => {
                    this.addGuestStatus = 'sent';
                })
                .catch(error => {
                    console.error(error);
                    this.addGuestStatus = "errored";
                })
            },
    }
}

</script> 

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
    form{
        border-radius: 25px;
        max-width: 100%;
        margin:auto;
        padding: 0 5vw;
        text-align: left;
        background-color: rgb(255, 184, 28);
        font-size: 1.3em;
    }

    input:not([type=text]),

    select {
        margin-right: 10px;
        transform: scale(1.5);
    }

    .fas
    {
        font-size: 1.2rem;
        color: red;
        margin-left: 5vw;
    }

    .zipcode {
        min-height: 2.6em;
        min-width: 10em;
        max-width: 15em;
        margin: 0 10px 10px 0;
        font-size: 20px;
        color: black;
    }
</style>
