<template>
  <div v-show="showIdInput">
    <idInput 
      @notSeven= "hideForm($event)" 
      @sendForm="getForm" 
      @sendFormData="sendDataToForm($event)" 
      @hideIdInput= "hideID">
    </idInput>
  </div>
  <div v-if="formData !== undefined">
    <registerForm :receivedFormData = "formData"></registerForm>
  </div>
</template>

<script>
import registerForm from "./components/register-form.vue"
import idInput from "./components/id-input.vue"

export default{
  components:{
    idInput,
    registerForm,
  }, 
  data(){
    return{
      showForm: false,
      showIdInput: true,
      formData: undefined,
    }
  },
  methods:{

    //Fires this method when user clicks submit button
    getForm(){
     this.showForm = true;
    },

    //Get form data for returning student 
    sendDataToForm(formData) {
      this.formData = formData;
    },

    //Hides ID input when going to form 
    hideID(){
      this.showIdInput = false;
      console.log(this.showIdInput);
    },

    //fires this method to hide the form when user does not enter all numbers
    hideForm(key){
      if(key.length < 7){
        this.showForm = false;
      }

    }
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');

body, html{
  background-color: rgb(0, 48, 135);
}

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3em;
  text-align: center;
  color: #000000;
  /* margin-top: 60px; */
  max-width: 50em;
  padding: 5vw;
  margin: auto;
  margin-top: 3vh;
}
.container{
    margin-bottom: 1.5vh;
    padding: 5vw;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.submit{
    min-width: 10em;
    min-height: 3.5em;
    border-radius: 10px;
    background-color: rgb(0, 48, 135);
    color: white;
    font-size: 16px;
    font-weight: bold;
}
</style>
